body {
  font-family: "Times New Roman", Times, serif;
}
#start {
  background: linear-gradient(rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.2)),
    url(../img/image.jpg) center/cover no-repeat fixed;
  min-height: 100vh;
}
.height1 {
  min-height: 10vh;
}
.height2 {
  min-height: 20vh;
}
.height-start {
  height: 60vh;
}

#start {
  color: #d9d9d9;
  flex-direction: column;
}
#footer {
  color: #d9d9d9;
}
.ser {
  height: 10vh;
  background-color: #666666;
}
/*  */
.project {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

#about img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.text {
  color: #4d4d4d;
}

#projects {
  background-color: #e6e6e6;
}

.skills {
  width: 125px;
  height: 8px;
  margin: 0 auto;
}

.about-me {
  width: 175px;
  height: 8px;
  margin: 0 auto;
}

.projects {
  width: 175px;
  height: 8px;
  margin: 0 auto;
}

.border-car {
  border: 1px solid #cccccc;
  box-shadow: 5px 10px 18px #cccccc;
}

.navbar-toggler:not(:disabled) {
  outline: none;
}

#start {
  font-size: 1rem;
}

.icon {
  width: 75px;
  height: 75px;
  margin-top: 5px;
}
.card-footer {
  color: #e6e6e6;
}
@media (max-width: 767px) {
  #start {
    font-size: 0.8rem;
  }

  .nav-item {
    font-size: 1rem;
  }
  .icon {
    width: 60px;
    height: 60px;
    margin-top: 2px;
  }
  .text-uppercase {
    font-size: 1.5rem;
  }
  .skills {
    width: 100px;
  }
  .about-me {
    width: 130px;
  }
  .projects {
    width: 130px;
  }
}

@media (max-width: 576px) {
  #start {
    font-size: 0.5rem;
  }
  h3,
  h4 {
    font-size: 1.1rem;
  }
  .icon {
    width: 40px;
    height: 40px;
    margin-top: 0;
  }
}

.card {
  border: 1px solid #333333;
  box-shadow: 5px 10px 18px #333333;
}
.card-footer {
  background-color: #595959;
}
.btn {
  background-color: #8c8c8c;
  color: #e6e6e6;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
